/***** BODY *****/
body {
  font-size: 16px;
  color: #000;
  background-color: rgb(230, 231, 232);
  font-family: "Oxygen", sans-serif;
}
/***** END OF BODY *****/

/***** NAVBAR *****/
#header-nav {
  background-color: rgb(212, 88, 92);
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 15px;
  padding-bottom: 30px;
}
.navbar-brand h1 {
  /* Restaurant name */
  font-family: "Lora", serif;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: rgb(0, 0, 0);
  text-align: center;
}
#nav-list a:hover {
  background: rgb(230, 231, 232);
}
.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid rgb(230, 231, 232);
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
/***** END NAVBAR *****/

/***** MAIN CONTENT *****/
h2 {
  margin-bottom: 30px;
}
#parag {
  width: 100%;
  background-color: rgb(153, 153, 153);
  padding: 0 30px;
  margin-bottom: 50px;
}
#parag h3 {
  text-align: center;
  margin-bottom: 15px;
}
#parag p {
  margin-bottom: 15px;
  text-align: justify;
}
/***** END OF MAIN CONTENT *****/

/***** MEDIA QUERIES *****/
@media (max-width: 991px) {
  #content {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
}
